@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
}

.section {
  margin: 5rem 0 3rem 0;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
}
.section-description {
  font-size: 18px;
  color: #3b3c3d;
}

/* container */
.main-container {
  max-width: 1608px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .section {
    margin: 3rem 0 1.5rem 0;
  }
  .section-title {
    font-size: 24px;
  }
  .section-description {
    font-size: 15px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
  .main-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .main-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1024px) {
  .main-container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
